* {
    padding: 0;
    margin: 0;
}
body
{
    background-color: rgb(19, 7, 90);
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    position: absolute;
    top: auto;
    left: 40%;
}

#formulario 
{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    

    height: 800px;
    width: 600px;

    background: linear-gradient(to right, rgb(37, 11, 182), black);
    color: white;

    border-radius: 20px;
}


.submit
{
    font-family: Arial;
    background-color: transparent;
    color: rgb(0,0,0);
    border: 2px solid rgb(0, 0, 0);
    font-family: "Arial";
    width: 200px;
    height: 30px;
    display: block;
    margin-left: 44%;
    margin-right: auto;
    display: block;
    border-radius: 12px;

    color: white;

    height: 50px;
    width: 100px;
}

.submit:hover {
    background-color: rgb(32, 7, 173);
    color: black;
}

#formulario label {
    font-family: Arial;
    
}

#formulario input, button {
    position: relative;
    align-items: center;
    margin-left: 30px;
    margin-right: 70px;
    
}

.letras
{
    color: black;
    position: absolute;
    left: 47%;
    color: white;
}

.letras-2
{
    position: absolute;
    left: 42%;
}

input
{
    position: absolute;
    left: 20px;
    height: 25px;
    width: 340px;
    border-radius: 10px;
}

.cadastro
{
    font-family: Arial;
    color: white;
}

.copy
{
    position: absolute;
    top: 900px;
   color: whitesmoke;
}
.copy:hover {
    box-shadow: 0 0 40px rgb(3, 9, 92); /* Cria um efeito de brilho ao passar o cursor sobre o botão */
}
