* {
    padding: 0;
    margin: 0;
}

body
{
    background-color: rgb(19, 7, 90);
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: auto;
    left: 40%;
}


#formulario {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    

    height: 800px;
    width: 600px;

    background: linear-gradient(to right, rgb(37, 11, 182), black);
    color: white;

    border-radius: 20px;
       
}

#formulario label {
    font-family: Arial;
    margin-left: 30px;
}

#formulario input, button {
    margin-left: 30px;
    margin-right: 30px;
    
}

input
{
    height: 25px;
    width: 340px;
    border-radius: 12px;
}
label
{
    position: absolute;
    left: 40%;
}

.botão
{
    font-family: Arial;
    background-color: transparent;
    width: 200px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid black;
    border-radius: 12px;

    color: white;

    height: 50px;
    width: 100px;
}

.botão:hover {
    background-color: rgb(32, 7, 173);
    color: black;
}

.cadastro
{
    font-family: Arial;
    color: white;
}

.copy
{
    position: absolute;
    top: 900px;
   color: whitesmoke;
}



